{
  "semi": true, 
  "singleQuote": true, 
  "trailingComma": "none",
  "jsxSingleQuote": false,
  "tabWidth": 2, 
  "useTabs": true,
  "printWidth": 110, 
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.tsx",
      "options": {
        "parser": "typescript" 
      }
    },
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript" 
      }
    }
  ],
  "tailwindConfig": "./tailwind.config.js", 
  "plugins": ["prettier-plugin-tailwindcss"]
}
